body {
    background-image: url(https://www.hdwallpapers.in/download/green_plant_leaves_dark_background_4k_hd_nature-1600x900.jpg);
}

.container {
    width: 500px;
    margin: 100px auto;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ff006f;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #79104b;
}

.message {
    text-align: center;
}

.message a {
    color: #de0563;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}